@import "tailwindcss";

@theme {
  --font-geist: "geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html,
  body,
  #__nuxt {
    width: 100%;
    height: 100%;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    color-scheme: dark;
    scroll-margin: smooth;
  }

  body {
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-50);
    font-family: var(--font-geist);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  :focus-visible,
  .focus-visible {
    outline: var(--color-zinc-500) solid 2px;
    outline-offset: 4px;
  }
}
